{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    CSS
------------------------------------------------------------------------------- -->
<style>
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rd {
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 38px;
}
    
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}
    
.container {
    padding: 10px;
    width: 1024px;
}
    
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #ddd;
}
    
.label1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}
    
.input1 {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.upload-btn{
    width: 10%; 
    display: grid; 
    margin-top: 20px; 
    margin-left: 15px
}
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
{% include "parrot/top.html" %}
<div class="container">
   <h1><b>Parrot</b></h1>
   <p>Demonstration - Speech-to-text for Conversation Analysis</p>
   <hr/>
   <div class="row">
      <div>
         <form id="fileupload" method="post" class="rd" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="file_drop">
                <input id="file_id" class="btn" name="file" type="file" accept=".wav"/>
            </div>
         </form>
      </div>
      <div class="upload-btn">
         <button class="btn-primary" onclick="handleUploadClick()">Upload File</button>
      </div>
   </div>
   <label class="label1">Summary:</label>
   <textarea rows="4" id="summary" class="input1" style="height:100px"></textarea>
   <br/>
   <br/>
   <label class="label1">Transcription:</label>
   <textarea rows="4" id="trans" class="input1" style="height:300px"></textarea>
</div>

<!-- -----------------------------------------------------------------------------
    SCRIPT
--------------------------------------------------------------------------------->
<script>

function handleUploadClickCB(responseTxt, statusTxt, xhr) {
    console.log(responseTxt);
    if (JS_error(responseTxt, statusTxt, xhr, true) ) 
        return;
    
    salert("Processed!! ", "btn-success", 2000);
    $('#summary').val(responseTxt.summary);
    $('#trans'  ).val(responseTxt.transcription);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function handleUploadClick(url) {
    url = url || '/parrot/processfile/';
    var file_id = document.getElementById("file_id");
    if ( file_id.files.length <= 0) {
        salert("No Files Selected!!", 'btn-danger');
        return;
    }
    var formData = new FormData($('form#fileupload')[0]);
    
    $.ajax({
        url: url,
        type: 'POST',
        data: formData,
        success: handleUploadClickCB,
        error: function(response) {
            salert("Error!!!" + response.responseText, "btn-error");
        },
        cache: false,
        contentType: false,
        processData: false
    });
}

function WordCount(str) {
    var totalSoFar = 0;
    for (var i = 0; i < WordCount.length; i++)
      if (str(i) === " ") { // if a space is found in str
        totalSoFar = +1; // add 1 to total so far
    }
    totalsoFar += 1; // add 1 to totalsoFar to account for extra space since 1 space = 2 words
  }  
</script>
{% endblock %}
