{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    CSS
------------------------------------------------------------------------------- -->
<style>
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rd {
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 38px;
}
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}
.container {
    padding: 10px;
    width: 1024px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #ddd;
}
.label1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}
.input1 {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}
.upload-btn{
    width: 10%;
    display: grid;
    margin-top: 20px;
    margin-left: 15px; 
}
.loading {
    text-align: center;
    display: none;
}
.audiobar {
    width: 100%; 
    display: block; 
    margin: 0 auto;
}
   
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
{% include "parrot/top.html" %}
<div class="container">
    <h1><b>Parrot</b></h1>
    <p>Demonstration - Speech-to-text for Conversation Analysis</p>
    <hr/>
    <div class="row">
       <div>
          <form id="fileupload" method="post" class="rd" enctype="multipart/form-data">
             {% csrf_token %}
             <div id="file_drop">
                <input id="file_id" class="btn" name="file" type="file"/>
             </div>
          </form>
       </div>
       <div class="upload-btn">
          <button class="btn-primary" onclick="handleUploadClick()">Upload File</button>
       </div>
       <button style="margin-left: 20px;" onclick="clearCache()">Clear</button>
    </div>
    <p class="loading" id="loading">Loading...</p>
    <audio class="audiobar" id="audiobar" src="" controls></audio>
    <label class="label1">Transcription:</label>
    <textarea rows="4" id="trans" class="input1" style="height:300px"></textarea>
    <p>Word Count: <input id="wordCount-ori" class="input1" style="margin-top: 5px; width:100px" value="0"></p>
    <table>
        <thead>
            <tr>
                <th>Speaker Tag</th>
                <th style="text-align: right">Name</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
    <button id="submit-btn">Submit</button>
</div>
<!-- -----------------------------------------------------------------------------
    JavaScript
--------------------------------------------------------------------------------->
<script>
$(document).ready(function() {
    $('#trans').val(localStorage.getItem('transcription'));
    $('#wordCount-ori').val(localStorage.getItem('wordCount-ori'));
});

function clearCache() {
    $('#trans').val("");
    $('#wordCount-ori').val(0);
    localStorage.setItem('transcription', "");
    localStorage.setItem('wordCount-ori', 0);
}

function handleUploadClickCB(responseTxt, statusTxt, xhr) {
    $('.loading').hide();
    if (JS_error(responseTxt, statusTxt, xhr, true) ) 
        return;
    salert("Processed!! ", "btn-success", 2000);

    wordCountOri = countWordsAfterColon(responseTxt.transcription)
    $('#trans').val(responseTxt.transcription);
    $('#wordCount-ori').val(wordCountOri);
    $('#audiobar').attr('src', responseTxt.file_url);
    document.getElementById('audiobar').load();

    localStorage.setItem('transcription', responseTxt.transcription);
    localStorage.setItem('wordCount-ori', wordCountOri);

    // table
    const tableBody = document.getElementById('table-body');
    tableBody.innerHTML = '';
    const speakersArray = countSpeakers(localStorage.getItem('transcription'));
    for (let i = 0; i < speakersArray.count; i++) {
        const speakerTag = speakersArray.speakers[i];
        const row = document.createElement('tr');
        const col1 = document.createElement('td');
        col1.innerText = speakerTag;
        row.appendChild(col1);
        const col2 = document.createElement('td');
        const input = document.createElement('input');
        input.type = 'text';
        col2.appendChild(input);
        row.appendChild(col2);
        tableBody.appendChild(row);
    }

    const submitBtn = document.getElementById('submit-btn');
    submitBtn.addEventListener('click', function() {
        const inputs = document.querySelectorAll('#table-body input');
        for (let i = 0; i < inputs.length; i++) {
            localStorage.setItem('transcription', 
                                    replaceSpeakerName(speakersArray.speakers[i], 
                                    inputs[i].value, 
                                    localStorage.getItem('transcription')));
        }
        $('#trans').val(localStorage.getItem('transcription'));
    });
}

function handleUploadClick(url) {
    url = url || '/parrot/processfile/';
    
    var file_id = document.getElementById("file_id");
    if ( file_id.files.length <= 0) {
        salert("No Files Selected!!", 'btn-danger');
        return;
    }
    var formData = new FormData($('form#fileupload')[0]);
    
    $('#loading').show();  // Show the loading interface
    $.ajax({
      url: url,
      type: 'POST',
      data: formData,
      success: function(responseTxt, statusTxt, xhr) {
        $('#loading').hide();  // Hide the loading interface
        handleUploadClickCB(responseTxt, statusTxt, xhr);
      },
      error: function(response) {
        $('#loading').hide();
        salert("Error!!!" + response.responseText, "btn-error");
      },
      cache: false,
      contentType: false,
      processData: false
    });
}

function countWordsAfterColon(input) {
    const regex = /:\s*(\S+)/g;
    let match = regex.exec(input);
    let count = 0;
    
    while (match !== null) {
        count += match[1].split(/\W+/).length;
        match = regex.exec(input);
    }
    
    return count;
}

function replaceSpeakerName(speakerName, inputName, transcript) {

  const regex = new RegExp(speakerName, "g");
  const replacedTranscript = transcript.replace(regex, inputName);
  
  return replacedTranscript;
}    

function countSpeakers(transcript) {
  // Use a regular expression to find all unique speaker tags in the transcript
  const speakerTags = transcript.match(/SPEAKER_\d+/g);
  // Use a Set to remove duplicate speaker tags
  const uniqueSpeakerTags = new Set(speakerTags);
  // Sort the unique speaker tags in ascending order
  const sortedSpeakerTags = [...uniqueSpeakerTags].sort();
  // Return the number of unique speaker tags and the sorted array of unique speaker tags
  return { count: sortedSpeakerTags.length, speakers: sortedSpeakerTags };
}

</script>
{% endblock %}
