<div style="text-align: end;">
<style>
.btnxsm {
    line-height: 1.2;
    font-size: smaller;
    border-right: 2px solid black;
    width: 10px;
}    
</style>
        
<span  class="btn-group" style=" width: 200px;" >
<a class="btn btn-secondary btn-sm btnxsm" type="button" href="/parrot/parrot/index.html">
    <img src="/static/parrot.png" height="32px"/> Parrot Home
</a>
<!--
    <a class="btn btn-secondary btn-sm btnxsm" type="button" href="/parrot/parrot/summary.html">Summarize </a>
-->
</span>
    
</div>
    
    