{% extends "common.html" %}
{% block content %}
<!-- -----------------------------------------------------------------------------
    CSS
------------------------------------------------------------------------------- -->
<style>
@keyframes loading {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
    100% {
        content: "Loading";
    }
}
.label1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}
.input1 {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}

.btn-primary2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 65%; 
    margin-top: 5px;
    background-color: rgb(2, 117, 216);
    color: white;
}

.loading {
    display: none;
    text-align: center;
}
.loading::after {
    content: "Loading";
    animation: loading 1s infinite;
}

.input2 {
    width: 50%;
    height: 75px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}
</style>
<!-- -----------------------------------------------------------------------------
    HTML
------------------------------------------------------------------------------- -->
{% include "parrot/top.html" %}
<div class="container">
    <h1><b>Summary-v2</b></h1>
    <p></p>
    <hr/>
    <form id="textupload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="button" class="btn-primary" onclick="textUpload()" value="Get my summary">
    </form>
    <p class="loading" id="loading"></p>
    <textarea rows="4" id="summary" class="input1" style="height:250px"></textarea>
    <div class="row">
        <p>Word Count: <input id="wordCount-summ" class="input1" style="margin-top: 5px; width:100px" value="0"></p>
        <!-- <input type="button" class = "btn-primary2" onclick="summaryUpload()" value="Summarize again"> -->
        <input type="">
    </div>
    <label class="label1">Key Words:</label>
    <div id="list-container">
        
    </div>
</div>

<!-- -----------------------------------------------------------------------------
    JavaScript
--------------------------------------------------------------------------------->
<script>
$(document).ready(function() {
    $('#summary').val(localStorage.getItem('summary'));
    $('#wordCount-summ').val(localStorage.getItem('wordCount-summ'));
});

function textUploadClickCB(responseTxt, statusTxt, xhr) {
    $('.loading').hide();

    if (JS_error(responseTxt, statusTxt, xhr, true) ) 
        return;
    salert("Processed!! ", "btn-success", 2000);
    wordCountSumm = countWords(responseTxt.summary)

    generateList(responseTxt.keywords_list_1, responseTxt.keywords_list_2, responseTxt.keywords_list_3)

    $('#summary').val(responseTxt.summary);
    $('#wordCount-summ').val(wordCountSumm);

    localStorage.setItem('summary', responseTxt.summary);
    localStorage.setItem('wordCount-summ', wordCountSumm);
}

function textUpload() {
    if ( localStorage.getItem('transcription') === "") {
        salert("No saved transcript!!", 'btn-danger');
        return;
    }

    var formData = new FormData($('form#textupload')[0]);
    formData.append('transcription', localStorage.getItem('transcription'));
    formData.append('text', localStorage.getItem('text'));
    formData.append('wordCount', localStorage.getItem('wordCount-ori'));
    $('#loading').show();  // Show the loading interface
    $.ajax({
      url: '/parrot/summarize_text/',
      type: 'POST',
      data: formData,
      success: function(responseTxt, statusTxt, xhr) {
        $('#loading').hide();  // Hide the loading interface
        textUploadClickCB(responseTxt, statusTxt, xhr);
      },
      error: function(response) {
        $('#loading').hide();  // Hide the loading interface
        salert("Error!!!" + response.responseText, "btn-error");
      },
      cache: false,
      contentType: false,
      processData: false
    });
}

function summaryUploadCB(responseTxt, statusTxt, xhr) {
    if (JS_error(responseTxt, statusTxt, xhr, true) ) 
        return;
    salert("Processed!! ", "btn-success", 2000);

    wordCountSumm = countWords(responseTxt.summary)

    $('#summary').val(responseTxt.summary);
    $('#wordCount-summ').val(wordCountSumm);

    localStorage.setItem('summary', responseTxt.summary);
    localStorage.setItem('wordCount-summ', wordCountSumm);
}

function summaryUpload() {
    if ( localStorage.getItem('summary') === "") {
        salert("No summary!!", 'btn-danger');
        return;
    }

    var formData = new FormData($('form#textupload')[0]);
    formData.append('summary', localStorage.getItem('summary'));
    formData.append('wordCount-summ', localStorage.getItem('wordCount-summ'));
    $('#loading').show();  // Show the loading interface
    $.ajax({
      url: '/parrot/summarize_summary/',
      type: 'POST',
      data: formData,
      success: function(responseTxt, statusTxt, xhr) {
        $('#loading').hide();  // Hide the loading interface
        summaryUploadCB(responseTxt, statusTxt, xhr);
      },
      error: function(response) {
        $('#loading').hide();  // Hide the loading interface
        salert("Error!!!" + response.responseText, "btn-error");
      },
      cache: false,
      contentType: false,
      processData: false
    });
}

function countWords(str) {
    if (str.trim() === "") return 0;
    return str.trim().split(/\s+/).length;
}

function generateList(unigramArray, bigramArray, trigramArray) {
    // Get the list container
    const listContainer = document.getElementById('list-container');

    // Empty the list container
    listContainer.innerHTML = '';

    // Create an unordered list for the unigram array
    const unigramList = document.createElement('ul');
    for (let i = 0; i < unigramArray.length; i++) {
        const listItem = document.createElement('li');
        listItem.innerText = unigramArray[i];
        unigramList.appendChild(listItem);
    }
    listContainer.appendChild(unigramList);

    // Add a line break between the unigram and bigram lists
    listContainer.appendChild(document.createElement('br'));

    // Create an unordered list for the bigram array
    const bigramList = document.createElement('ul');
    for (let i = 0; i < bigramArray.length; i++) {
    const listItem = document.createElement('li');
    listItem.innerText = bigramArray[i];
    bigramList.appendChild(listItem);
    }
    listContainer.appendChild(bigramList);

    // Add a line break between the bigram and trigram lists
    listContainer.appendChild(document.createElement('br'));

    // Create an unordered list for the trigram array
    const trigramList = document.createElement('ul');
    for (let i = 0; i < trigramArray.length; i++) {
    const listItem = document.createElement('li');
    listItem.innerText = trigramArray[i];
    trigramList.appendChild(listItem);
    }
    listContainer.appendChild(trigramList);
}
</script>
{% endblock %}